Atos/MockServices/src/main/resources/wsdl/BrusselAirlines.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://atosresearch.org/BrusselAirlines/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrusselAirlines" targetNamespace="http://atosresearch.org/BrusselAirlines/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://atosresearch.org/BrusselAirlines/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchFligths" type="tns:Flights"></xsd:element>
      <xsd:element name="FlightsResponse" type="xsd:string"></xsd:element>
        
      <xsd:complexType name="Flights">
      	<xsd:sequence>
      		<xsd:element name="Departure" type="xsd:string"></xsd:element>
      		<xsd:element name="Destination" type="xsd:string"></xsd:element>
      		<xsd:element name="DepartureDate" type="xsd:string"></xsd:element>
      		<xsd:element name="ReturnDate" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlightsResponseType">
      	<xsd:sequence>
      		<xsd:element name="FlightList" type="tns:Flight" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Flight">
      	<xsd:sequence>
      		<xsd:element name="Company" type="xsd:string"></xsd:element>
      		<xsd:element name="DepartureTime" type="xsd:string"></xsd:element>
      		<xsd:element name="ArrivalTime" type="xsd:string"></xsd:element>
      		<xsd:element name="Depart" type="xsd:string"></xsd:element>
      		<xsd:element name="Arrive" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SearchFlightsRequest">
    <wsdl:part element="tns:SearchFligths" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightsResponse">
    <wsdl:part name="parameters" type="tns:FlightsResponseType"/>
  </wsdl:message>
  <wsdl:portType name="BrusselAirlines">
    <wsdl:operation name="SearchFlights">
      <wsdl:input message="tns:SearchFlightsRequest"/>
      <wsdl:output message="tns:SearchFlightsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrusselAirlinesSOAP" type="tns:BrusselAirlines">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SearchFlights">
      <soap:operation soapAction="http://atosresearch.org/BrusselAirlines/SearchFlights"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrusselAirlines">
    <wsdl:port binding="tns:BrusselAirlinesSOAP" name="BrusselAirlinesSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
