Atos/MockServices/HotelFind/src/main/resources/HotelFind.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/HotelFind/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelFind" targetNamespace="http://www.example.org/HotelFind/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/HotelFind/">
      <xsd:element name="BookRoom">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="client" type="xsd:string" />
          	<xsd:element name="hotelId" type="xsd:string"></xsd:element>
          	<xsd:element name="nights" type="xsd:string"></xsd:element>
          	<xsd:element name="roomId" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BookRoomResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BookRoomRequest">
    <wsdl:part element="tns:BookRoom" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BookRoomResponse">
    <wsdl:part element="tns:BookRoomResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="HotelFind">
    <wsdl:operation name="BookRoom">
      <wsdl:input message="tns:BookRoomRequest"/>
      <wsdl:output message="tns:BookRoomResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelFindSOAP" type="tns:HotelFind">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BookRoom">
      <soap:operation soapAction="http://www.example.org/HotelFind/BookRoom"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelFind">
    <wsdl:port binding="tns:HotelFindSOAP" name="HotelFindSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
